*{
 box-sizing: border-box;

}
body{
    margin: 0;
}
.obla {
    background: url(/img/bg.png) no-repeat 100% 100%,linear-gradient(299.54deg, rgba(231, 86, 86, 0.59) -6.37%, rgba(231, 86, 86, 0) 55.62%);
    width: 1263px;
    height: 656px;
}
.content{
    width: 703px;
    height: 428px;
    padding: 31px 457px 202px 120px;
}
.nav {
    display: flex;
    width: 703px;
    height: 50px;
    /* margin-bottom: 142px; */
}
.nav p {
    font-weight: bold;
}
.logo::after{
    content: ".ассортимент";
    margin-right: 85px;
    letter-spacing: 0.3em;
}
ul {
    display: flex;
    margin-right: 60px;
    width: 230px;
    /* height: 28px; */
    justify-content: space-between;
}
li{
    list-style: none;
}
a {
    list-style: none;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}
li:hover{
    border-bottom: 2px solid rgba(0, 0, 0, 0.38);
    padding-bottom: 25px;
}
.logo {
    color: rgba(100, 43, 43, 1);
}
h1 {
    width: 566px;
    height: 57px;
    margin-right: 135px;
    margin-top: 130px;
    font-family: Montaga;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 68px;
    letter-spacing: 0em;

}
.body p{
    width: 400px;
    height: 67px;
    font-family: Montaga;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;
    
}
.button {
    font-size: 27px;
    line-height: 33px;
    padding: 13px 32px;
    border: 1px solid #782323;
    background: transparent;
    color: black;
    margin-top: 32px;
    transition: 0.7s ease;
    box-shadow: 9px 4px 9px 2px rgba(0, 0, 0, 0.25);
}
.button:hover{
    background: black;
    color: white;
    transition: 0.7s ease;
}
.button:active{
    display: none;

}